html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.nav__logo {
  text-decoration: none;
  color: #335576;
  font-size: 1.5rem;
  font-weight: 600;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__link {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  font-weight: 500;
}
.nav__link--active {
  text-decoration: underline #db7a4e 3px;
  text-underline-offset: 0.7rem;
}
h3 {
  color: #335576;
  font-size: 2rem;
  margin: 1rem 0;
}
h4 {
  color: #db7a4e;
  margin: 0;
}
footer {
  background-color: #fefaf5;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
}
.contact__email {
  color: #335576;
  font-size: 1rem;
}
.hours__schedule {
  display: flex;

  align-items: center;
}
.hours__days {
  margin: 0 2rem 0 0;
}
.hours__time {
  color: #335576;
  font-size: 1rem;
}
.social__icon {
  height: 30px;
  width: 30px;
  margin: 1.3rem 1rem 0 0;
}

.activities {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem;
}
.day {
  background-color: white;
  list-style: none;
  padding: 1rem;
  margin-left: 2rem;
  text-align: center;
  height: 400px;
  width: 270px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.day__title {
  font-size: 1.2rem;
  font-weight: 750;
  border-bottom: 2px solid black;
  width: 100%;
}

.day__activity {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1rem;
  background-color: #fefaf5;
  margin-top: 1rem;
}
