html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}
.nav {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 4rem;
}
.nav__logo {
  text-decoration: none;
  color: #335576;
  font-size: 1.5rem;
  font-weight: 600;
}
.nav__list {
  list-style: none;
  display: flex;
}
.nav__link {
  text-decoration: none;
  padding: 0.5rem;
  color: black;
  font-weight: 550;
}
.nav__link--active {
  text-decoration: underline #db7a4e 3px;
  text-underline-offset: 0.7rem;
}
h3 {
  color: #335576;
  font-size: 2rem;
  margin: 1rem 0;
}
h4 {
  color: #db7a4e;
  margin: 0;
}
footer {
  background-color: #fefaf5;
  display: flex;
  padding: 4rem;
  justify-content: space-evenly;
}
.contact__email {
  color: #335576;
  font-size: 1rem;
}
.hours__schedule {
  display: flex;

  align-items: center;
}
.hours__days {
  margin: 0 2rem 0 0;
}
.hours__time {
  color: #335576;
  font-size: 1rem;
}
