.hero {
  background-color: #fefaf5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
}

.hero__left {
  flex-grow: 2;
}
.hero__heading {
  font-size: 2rem;
  font-weight: 700;
  color: #335576;
}

.hero__description {
  color: #335576;
}

.hero__link {
  color: white;
  background-color: #db7a4e;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
}
.hero__right {
  text-align: end;
}
.hero__image {
  width: 90%;
  height: 90%;
  padding-left: 3rem;
}
.recomendations {
  margin: 2rem 3rem;
}

.destinations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
.destinations__link {
  height: 400px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  margin-left: 2rem;
}
.destinations__image {
  height: 100%;
  width: 100%;
}
.destinations__name {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0;
}
.day {
  background-color: white;
  list-style: none;
  height: 400px;
  width: 300px;
}
